{% extends 'accounts/base.html' %}

{% block title %}Take the exam{% endblock %}

{% block content %}
<h2>{{ exam.title }}</h2>
<p>{{ exam.description }}</p>

<form method="post">
  {% csrf_token %}
  {% for question in exam.question_set.all %}
    <div>
      <p><strong>{{ forloop.counter }}. {{ question.text }}</strong></p>

      {% for choice in question.choices.all %}  {# BURASI ÖNEMLİ #}
        <label>
          <input type="radio" name="{{ question.id }}" value="{{ choice.id }}" required>
          {{ choice.text }}
        </label><br>
      {% empty %}
        <p>There is no option for this question.</p>
      {% endfor %}

    </div>
    <hr>
  {% empty %}
    <p>There are no questions in this exam.</p>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Send Exam</button>
</form>
{% endblock %}
